
	<div class="message-show">
		<%= image_tag @post.image_url %>
	<h2><%= @post.title %></h2>
	<p class="message-posted-by">Posted by <%= @post.user.email %> <%= time_ago_in_words (@post.created_at) %> ago </p>
	<p><%= @post.description %></p>

	<div class="like_button posts-show-item">
	 <!-- if文を用いて、表示内容を切り替え -->
			<%if @my_like.present? %>
	       <%= link_to("/likes/#{@post.id}/destroy",{method: "post"})do %>
	        <span class="fa fa-heart like-btn-unlike"></span>
	       <% end %>
      <% else %>
	      <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
	        <span class="fa fa-heart like-btn"></span>
	      <% end %>
      <% end %>
      <%= @likes.count  %>
</div>


<br>
	<h3>Comments:</h3>
	<%= render @post.comments %>




	<h3 class="reply-to-message">Reply to Message:</h3>
	<%= render 'comments/form' %>

	<div class="btn-group">
		<%= link_to "Back", root_path, class:"btn btn-default" %>
		<% if user_signed_in? %>
			<% if @post.user_id == current_user.id %>
				<%= link_to "Edit", edit_post_path(@post), class:"btn btn-success" %>
				<%= link_to "Delete", post_path(@post), method: :delete, data:{confirm: "Are you sure?" }, class:"btn btn-danger" %>
			<% end %>
		<% end %>
		</div>
	</div>
	<br><br><br><br>
